@if (store.hasError()) {
  <p class="error">Workflow error: {{ store.error() }}</p>
}

<mat-stepper [selectedIndex]="store.currentIndex()" n1hBlockStepperClicks>
  @for (position of store.positions(); track $index) {
    <mat-step [label]="position.label">
      @if (store.isFinished()) {
        <h2>Complete</h2>
        <p>Workflow finished!</p>
      } @else {
        <h2>{{ store.currentMeta()?.title }}</h2>
        @switch (store.currentStep()) {
          @case (OnboardingStep.ACCOUNT) {
            <n1h-workflow-demo-account/>
          }
          @case (OnboardingStep.PROFILE) {
            <n1h-workflow-demo-profile/>
          }
          @case (OnboardingStep.GUARDIAN_CONSENT) {
            <n1h-workflow-demo-guardian/>
          }
          @case (OnboardingStep.PREFERENCES) {
            <n1h-workflow-demo-preferences/>
          }
        }
      }
    </mat-step>
  }
</mat-stepper>

<pre>{{
    ({
      currentStep: store.currentStep(),
      currentMeta: store.currentMeta(),
      positions: store.positions(),
      currentPosition: store.currentPosition(),
      currentIndex: store.currentIndex(),
      totalPositions: store.totalPositions(),
      data: store.data(),
      direction: store.direction(),
      path: store.path(),
      isFinished: store.isFinished()
    }) | json
  }}</pre>
